ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float:left;
   
}

li a {
  display: block;
  color: white;
  text-align: ;
  padding: 14px 16px;
  text-decoration: none;
	
}
li a:hover {
  background-color: #111;
}
.active {
  background-color: #db7f13;
}


.phpPage{/*color for php page  */
	margin: auto;
	width: auto;
	padding: 20px;
	border: 1px solid none;
	min-height: 840px;
	border-top: none;
	background: #949bb1;
	text-align: left;
}
.phpPage p{
	font-size:14px;
	margin: 0;
	padding: 0;
}